* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;

  gap: 10px;
}

button {
  background-color: rgb(51, 51, 51);
  padding: 10px 15px;
  color: white;
  border-radius: 15px;
}

input,
textarea {
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 15px;
  width: 500px;
}

textarea {
  height: 200px;
}
